.btn.generate,
.btn.copy {
  background-color: rgba(83, 169, 169, 0.764);
  width: 50%;
  font-weight: bolder;
}

.btn.generate:hover,
.btn.copy:hover {
  background-color: rgba(83, 169, 169, 0.317);
}

.btn.room {
  padding: 2.5%;
  font-weight: bolder;
  background-color: #9dbc98;
}
.btn.room:hover {
  background-color: #9dbc986e;
}
