* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Delius Unicase", cursive; /* Add this line */
}
body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
